# dependências
/node_modules

# variáveis de ambiente
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# arquivos temporários e de build
dist/
build/
*.log

# sistemas e IDEs
.DS_Store
.vscode/
.idea/
